<?xml version="1.0" encoding="utf-8" ?>

<!--
  SpikeLite C# IRC Bot
  Copyright (c) 2008 FreeNode ##Csharp Community

  This source is licensed under the terms of the MIT license. Please see the 
  distributed license.txt for details.
-->
<configuration>
  <configSections>
    <section name="spikeLite" type="SpikeLite.Configuration.SpikeLiteSection, SpikeLite" requirePermission="false"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <!-- Bot Parameters -->
  <spikeLite>
    <networks>
      <network networkName="FreeNode" botNickname="SpikeLite" botRealName="##CSharp irc bot." botUserName="SpikeLite" nickServPassword="PASSWORD">
        <servers>
          <server hostnameOrIP="127.0.0.1" port="6667"/>
        </servers>
        <channels>
          <channel name="#kog"/>
        </channels>
      </network>
    </networks>
    <licenses>
      <license applicationName="googleSoapApi" key="API KEY OF DOOM"/>
      <license applicationName="liveAppID" key="API KEY OF DOOM"/>
    </licenses>
  </spikeLite>

  <!-- Spring.NET beans - these can get verbose, so they're in their own file. -->
  <spring>
    <context>
      <resource uri="file://beans.xml"/>
    </context>
  </spring>

  <log4net>
    <!-- A non-appending file based log appender. Fresh logs, or your money back. -->
    <appender name="FileLogger" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileLogger" />
    </root>
  </log4net>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>
