<?xml version="1.0" encoding="utf-8" ?>

<!--
  SpikeLite C# IRC Bot
  Copyright (c) 2008 FreeNode ##Csharp Community

  This source is licensed under the terms of the MIT license. Please see the 
  distributed license.txt for details.
-->

<!--
  Our main application configuration. We also delegate out to several files governing things like log4net, our
  nhibernate setup and many other spring related goodness. Our external beans will become embedded resources as
  soon as the beans overriding factory is set up, hopefully the revision after next.
-->
<configuration>
  <configSections>
    <section name="spikeLite" type="SpikeLite.Configuration.SpikeLiteSection, SpikeLite" requirePermission="false"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <!-- Custom configuration sections for the bot -->
  <spikeLite>
    <networks>
      <network networkName="FreeNode" botNickname="SpikeLite" botRealName="##CSharp irc bot." botUserName="SpikeLite" nickServPassword="PASSWORD">
        <servers>
          <server hostnameOrIP="127.0.0.1" port="6667"/>
        </servers>
        <channels>
          <channel name="#kog"/>
        </channels>
      </network>
    </networks>
  </spikeLite>

  <!-- Bootstrap all our beans for Spring.NET, by file. -->
  <spring>
    <context>
      <resource uri="file://beans-modules.xml"/>
      <resource uri="file://beans.xml"/>
      <resource uri="file://beans-nhibernate.xml"/>
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
  </spring>

  <!-- Tell Log4NET that we're using an external file. Be careful though, if you update the log4net.xml using
       the default logging setup on the file-based appender, it'll delete your spikelite.log when it rehashes. -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.xml"/>
      </factoryAdapter>
    </logging>
  </common>
</configuration>
