<?xml version="1.0" encoding="utf-8" ?>

<!--
  SpikeLite C# IRC Bot
  Copyright (c) 2008 FreeNode ##Csharp Community

  This source is licensed under the terms of the MIT license. Please see the 
  distributed license.txt for details.
-->

<configuration>
  <configSections>
    <section name="spikeLite" type="SpikeLite.Configuration.SpikeLiteSection, SpikeLite" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="AccessControl" connectionString="Data Source=Databases\AccessControl.s3db;UTF8Encoding=True;Version=3"/>
  </connectionStrings>

  <spikeLite>
    <networks>
      <network networkName="FreeNode" botNickname="SharpBot" botRealName="##CSharp irc bot." botUserName="SpikeLite" nickServPassword="PASSWORD">
        <servers>
          <server hostnameOrIP="127.0.0.1" port="6667"/>
        </servers>
        <channels>
          <channel name="#kog"/>
        </channels>
      </network>
    </networks>
    <licenses>
      <license applicationName="googleSoapApi" key="API KEY OF DOOM"/>
      <license applicationName="liveAppID" key="API KEY OF DOOM"/>
    </licenses>
  </spikeLite>
</configuration>
