<?xml version="1.0" encoding="utf-8" ?>

<!--
  SpikeLite C# IRC Bot
  Copyright (c) 2009 FreeNode ##Csharp Community

  This source is licensed under the terms of the MIT license. Please see the 
  distributed license.txt for details.
-->

<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMessagingService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                  
                    <!-- This is a standard MS CLR svcutil app.config, except that I've removed the empty securityhost bit, since Mono doesn't
                         support that yet and we've no security yet (due to Mono). -->
                  
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.1:8081/SpikeLite/Messaging/MessagingHost"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagingService"
                contract="MessagingService.IMessagingService" name="BasicHttpBinding_IMessagingService" />
        </client>
    </system.serviceModel>
</configuration>