<?xml version="1.0"?>
<!--
  SpikeLite C# IRC Bot
  Copyright (c) 2009-2011 FreeNode ##Csharp Community

  This source is licensed under the terms of the MIT license. Please see the 
  distributed license.txt for details.
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpikeLite.Modules.Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SpikeLite.Modules.Search.Properties.Settings>
            <setting name="SpikeLite_Modules_Search_net_bing_api_BingService"
                serializeAs="String">
                <value>http://api.bing.net:80/soap.asmx</value>
            </setting>
        </SpikeLite.Modules.Search.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
